@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: #302c42;
  width: 100%;
  padding: 50px 84px;
}
.container button {
  outline: none;
}

.hero {
  height: 911px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.img-vector-4 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.img-vector-2 {
  position: absolute;
  right: 50px;
  top: 0px;
}

.img-vector-3 {
  position: absolute;
  right: -50px;
  bottom: 100px;
}

.img-vector-1 {
  position: absolute;
  right: 0px;
  bottom: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 42px;
}
.navbar ul li {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
}
.navbar ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar .btns {
  display: flex;
  gap: 42px;
}
.navbar .btns button {
  border-radius: 40px;
  width: 154px;
  height: 48px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  cursor: pointer;
}
.navbar .btns .btn-1 {
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF;
}
.navbar .btns .btn-2 {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  border: none;
  outline: none;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container .hero-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.hero-container .hero-text h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 56.07px;
  color: #FFFFFF;
}
.hero-container .hero-text h1 span {
  font-size: 42px;
  font-weight: 700;
  line-height: 48.76px;
  background-clip: text;
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text; /* Faqat text uchun background */
  -webkit-text-fill-color: transparent; /* Matnni shaffof qilish */
}
.hero-container .hero-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #FFFFFF;
}
.hero-container .hero-text .btn {
  display: flex;
  gap: 42px;
  align-items: center;
}
.hero-container .hero-text button {
  width: 214px;
  height: 48px;
  border-radius: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  color: #343045;
  border: none;
  outline: none;
}

.image-container {
  position: relative;
}

.img {
  position: absolute;
  top: 11px;
  left: 11px;
}

.contact {
  z-index: 10;
  height: 167px;
  border-radius: 90px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.0117647059);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact span {
  height: 116.5px;
  width: 1px;
  border: 1px solid rgba(192, 183, 232, 0.3294117647);
}
.contact div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.contact div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.contact div div h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  color: #FFFFFF;
}
.contact div div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #FFFFFF;
}

.about {
  position: relative;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about .vector-1 {
  position: absolute;
  left: -50px;
  bottom: 50px;
}
.about .vector-2 {
  position: absolute;
  left: -50px;
  bottom: 280px;
}
.about .about-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.about .about-1 p {
  width: 652px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.about .about-1 div div {
  display: flex;
  align-items: center;
}
.about .about-1 div div h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
}
.about .about-1 h1 {
  width: 298px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
}
.about .about-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.about .about-2 img {
  z-index: 10;
}
.about .about-2 div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about .about-2 div h1 {
  width: 192px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  color: #FFFFFF;
}
.about .about-2 div h1 span {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
}
.about .about-2 div p {
  width: 630px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #FFFFFF;
}
.about .about-2 div button {
  width: 214px;
  height: 48px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}

.vector-service {
  position: absolute;
  top: 2187px;
  left: 0;
}

.service {
  margin-top: 140px;
  height: 716px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service .service-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.service .service-1 p {
  width: 652px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.service .service-1 div div {
  display: flex;
  align-items: center;
}
.service .service-1 div div h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
}
.service .service-1 h1 {
  width: 298px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
}
.service .service-2 {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.service .card {
  z-index: 10;
  width: 310px;
  height: 511px;
  padding: 20px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.service .card .card-image {
  width: 219px;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: rgba(14, 14, 14, 0.3215686275);
}
.service .card h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
}
.service .card span {
  height: 1px;
  width: 154px;
  border: 1px solid rgba(192, 183, 232, 0.3294117647);
}
.service .card p {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
}
.service .card button {
  width: 154px;
  height: 48px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}

.tech {
  height: 630px;
  margin-top: 140px;
}
.tech .tech-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech .tech-1 .tech-img {
  margin: 0px auto;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tech .tech-1 h1 {
  margin-top: 108px;
  text-align: center;
  z-index: 10;
  color: #FFFFFF;
  width: 577px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
}
.tech .tech-1 h1 span {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
}
.tech .tech-1 .icon {
  margin-top: 65px;
  z-index: 20;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(14, 14, 14, 0.3215686275);
}
.tech .tech-1 .icon div {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech .tech-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.process {
  overflow: hidden;
  height: 509px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.process .process-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.process .process-1 p {
  width: 652px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
}
.process .process-1 div div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.process .process-1 div div h1 {
  width: 320px;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
}
.process .process-1 h1 {
  width: 306px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
}
.process .process-2 {
  position: relative;
  display: flex;
  padding-left: 77px;
  padding-right: 77px;
  justify-content: space-between;
}
.process .process-2 .vector-process {
  position: absolute;
  top: 0px;
  left: 0px;
}
.process .process-2 .card {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.process .process-2 .round-card {
  height: 198px;
  width: 198px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(13, 13, 13, 0.3215686275);
}
.process .process-2 .round-card div {
  width: 159px;
  height: 159px;
  border-radius: 100%;
  background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  color: #343045;
  text-align: center;
  padding-top: 40px;
}
.process .process-2 .text-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.process .process-2 .text-card h1 {
  width: 187px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
  color: #FFFFFF;
}

.form {
  height: 1008px;
  margin-top: 140px;
}
.form form {
  height: 1008px;
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.form form h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  color: #FFFFFF;
}
.form form h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  color: #FFFFFF;
}
.form form div {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.form form div input {
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  width: 524px;
  height: 72px;
  border-radius: 40px;
  border: 2px solid white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #FFFFFF;
}
.form form input {
  width: 1098px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  height: 72px;
  border-radius: 40px;
  border: 2px solid white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #FFFFFF;
}
.form form textarea {
  background-color: transparent;
  padding: 30px;
  width: 1098px;
  height: 210px;
  border-radius: 40px;
  border: 2px solid white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #FFFFFF;
  resize: none;
}
.form form button {
  width: 214px;
  height: 48px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
}

.footer {
  height: 480px;
  padding-top: 140px;
  overflow: hidden;
  position: relative;
}
.footer .footer-vector-1 {
  position: absolute;
  top: -185px;
  left: 0px;
}
.footer .footer-vector-2 {
  position: absolute;
  top: 100px;
  left: 0px;
}
.footer .footer-1 {
  display: flex;
  justify-content: space-between;
}
.footer .footer-1 ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .footer-1 ul li {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
}
.footer .footer-1 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-1 div h1 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  margin: 0px;
}
.footer .footer-1 div div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.footer .footer-1 div button {
  width: 214px;
  height: 48px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}
.footer .footer-img {
  margin-top: 50px;
}
.footer h1 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.13em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */